.Homepage {
    margin-top: "2rem";
}

.Homepage .debug {
    position: fixed;
    bottom: 0;
    width:100%;
    height: 100px;
    z-index: 1000;         /* ensure it stays above content */
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3);
}

@media (max-width:1650px) {
    .Homepage {
        padding-top: 4rem;
    }
.Homepage .debug {
    position: fixed;
    bottom: 0;
    width:100%;
    height: 100px;
    z-index: 1000;         /* ensure it stays above content */
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3);
}
}