.board{
display: grid;
grid-template-columns: repeat(2,1fr);
gap:20px;
width: 80%;
margin:0 auto;
height:auto;
}
.player{
width:100%;
height:100%;
text-align: center;
display:flex;
flex-direction: column;
}

.player .playername{
height: 100%;
width:50%;
}

.player .life{
height:100%;
width:50%;
}