.mobilesidebarpage{
    width:100%;
    height:100%;
    font-size: .6rem;
    background: white;
    flex-direction: column;        /* stack buttons vertically */
    justify-content: start;       /* center vertically */
    align-items: start;           /* center horizontally */
    border: 1px solid black;
    padding: .4rem left;
    z-index: 999;
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
}
.mobilesidebarpage.hidden {
  transform: translateX(-100%);
}


.mobilesidebarlist{
    height:auto;
    padding:0;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10%;
}

.mobilesidebarlist .row {
  width: 100%;
  height: 100px;
  display:flex;
  flex-direction: row;
}

.mobilesidebarlist .row:hover{
  border: 1px solid black;
}
.mobilesidebarlist .row #icon {
  width: 40%;
  height: 100%;
  display: grid;
  place-items: center;
  padding-left: 0.6rem;
}

.mobilesidebarlist .row #title{
  width: 60%;
  height:100%;
  display: flex;
  align-items: center;
}