.statslist{
    padding-top: 10%;
    width: 100%;
    height: 100%;
}

.statscontainer{
    padding-top: 4rem;
}

@media (max-width:1062px) {
    .statslist{
    padding-top: 10%;
    width: 100%;
    height: 100%;
}

.statscontainer{
    padding-top: 4rem;
}

}